*,
*::after,
**::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
}
